{{ define "sidebar.html" }}
<aside id="application-sidebar-brand"
  class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-[0px] h-screen fixed xl:top-[80px] xl:left-auto top-[-10px] left-0 with-vertical z-[999] shrink-0  w-[270px] shadow-md xl:rounded-lg rounded-none bg-white left-sidebar   transition-all duration-300">
  <!-- ---------------------------------- -->
  <!-- Start Vertical Layout Sidebar -->
  <!-- ---------------------------------- -->
  <div class="p-4">

    <a href="/admin" class="text-nowrap">
      <img src="/assets/images/logos/logo-light.svg" alt="Logo-Dark" />
    </a>


  </div>
  <div class="scroll-sidebar" data-simplebar="">
    <nav class=" w-full flex flex-col sidebar-nav px-4 mt-5">
      <ul id="sidebarnav" class="text-gray-600 text-sm">
        <li class="text-xs font-bold pb-[5px]">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">{{ call .T "title.home" }}</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base  flex items-center relative  rounded-md text-gray-500  w-full"
            href="/admin">
            <i class="ti ti-layout-dashboard ps-2  text-2xl"></i> <span>{{ call .T "title.dashboard" }}</span>
          </a>
        </li>

        <li class="text-xs font-bold mb-4 mt-6">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="text-xs text-gray-400 font-semibold">{{ call .T "title.management" }}</span>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full"
            href="/admin/rooms">
            <i class="ti ti-article ps-2 text-2xl"></i> <span>{{ call .T "title.rooms" }}</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full"
            href="./components/alerts.html">
            <div class="flex items-center gap-3">
              <i class="ti ti-user-circle ps-2 text-2xl"></i>
              <span>{{ call .T "title.users" }}</span>
            </div>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full"
            href="./components/alerts.html">
            <div class="flex items-center gap-3">
              <i class="ti ti-user-circle ps-2 text-2xl"></i>
              <span>{{ call .T "title.staff" }}</span>
            </div>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full"
            href="/admin/bookings">
            <div class="flex items-center gap-2">
              <i class="ti ti-calendar ps-2 text-2xl"></i> <span>{{ call .T "title.bookings" }}</span>
            </div>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link gap-3 py-2.5 my-1 text-base   flex items-center relative  rounded-md text-gray-500  w-full"
            href="./components/forms.html">
            <i class="ti ti-file-description ps-2 text-2xl"></i> <span>{{ call .T "title.billing" }}</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>
  <div>
    <a class="gap-3 py-2.5 px-9 my-1 text-base text-center flex items-center relative rounded-md text-white bg-gray-800 w-full"
      href="/admin/logout">
      {{ call .T "title.logout" }}
    </a>
  </div>

</aside>
{{ end }}