<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
  <!-- Core Css -->
  <link rel="stylesheet" href="/assets/css/theme.css" />
  <title>{{ call .T .Title }}</title>
</head>

<body class="DEFAULT_THEME">
  <main>
    <!-- Main Content -->
    <div
      class="flex flex-col w-full  overflow-hidden relative min-h-screen radial-gradient items-center justify-center g-0 px-4">

      <div class="justify-center items-center w-full card lg:flex max-w-md ">
        <div class=" w-full card-body">
          <p class="mb-4 text-gray-700 text-xl font-bold text-center">Hotel management</p>

          <!-- form -->
          <form method="post" action="/admin/login">
            <!-- username -->
            <div class="mb-4">
              <label for="forUsername" class="block text-sm mb-2 text-gray-400">Email</label>
              <input type="text" id="forUsername" name="email"
                class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
                aria-describedby="hs-input-helper-text">
            </div>
            <!-- password -->
            <div class="mb-6">
              <label for="forPassword" class="block text-sm  mb-2 text-gray-400">{{ call .T "title.password" }}</label>
              <input type="password" id="forPassword" name="password"
                class="py-3 px-4 block w-full border-gray-200 rounded-sm text-sm focus:border-blue-600 focus:ring-0 "
                aria-describedby="hs-input-helper-text">
            </div>

            <!-- button -->
            <div class="grid my-6">
              <input type="submit" href="../" class="btn py-[10px] text-base text-white font-medium hover:bg-blue-700"
                value={{ call .T "title.sign_in" }}>
            </div>
            {{ if .error }}
            <p class="text-red-500 text-sm mb-4">{{.error }}</p>
            {{ end }}
        </div>
        </form>
      </div>
    </div>

    </div>
    <!--end of project-->
  </main>



  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>
  <script src="../assets/libs/iconify-icon/dist/iconify-icon.min.js"></script>
  <script src="../assets/libs/@preline/dropdown/index.js"></script>
  <script src="../assets/libs/@preline/overlay/index.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="../../assets/libs/preline/dist/preline.js"></script>

</body>

</html>